@import 'variables';

.message-list {
  background-color: rgba(#000, 0.08);

  position: absolute;
  bottom: $message-line-height;
  top: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
